@import 'normalize.css';

:root {
  /* Colors */
  --color-primary: #D8C4B6;
  --color-secondary: rgb(19,99,166);
  --color-text-primary: #213555;
  --color-text-secondary: #E0D5CF;
  --color-accent: #396dd6;
  --color-accent-light: #8cadeb;
  --color-highlight: #57F287;
  --color-alt-accent: #EB459E;
  --color-danger: #ED4245;

  /* Intensity levels for gradient or heatmap visuals */
  --intensity-0: #b9ffff; /* intensity level 0 */
  --intensity-1: #81c9fa; /* intensity level 0.25 */
  --intensity-2: #2196f3; /* intensity level 0.5 */
  --intensity-3: #1465bb; /* intensity level 0.75 */
  --intensity-4: #003785; /* intensity level 1 */
  
  /* Font families */
  --font-primary: 'Roboto Mono', monospace;
  --font-secondary: 'Open Sans', sans-serif;
  --font-code: 'Fira Code', monospace;

  /* Base background and text colors */
  background-color: var(--color-primary);
  color: var(--color-text-primary);

  /* Default font for a clean, modern look */
  font-family: var(--font-code);
}
