
.main-container {
    display: flex; /* Activa flexbox */
    flex-direction: column; /* Apila los elementos verticalmente */
}

.top-container {
    display: flex; /* Activa flexbox */
    align-items: center;
}
.bottom-container {
    display: flex; /* Activa flexbox */
    align-items: center;
    justify-content: center;
}